{{!-- {{log this}} --}}

<header>
    {{#if session.currentUser}}
        <a href="/auth/logout">Logout</a>
        <a href="/auth/user-profile">User Profile</a>
        <a href="/reading-list">Reading list</a>
    {{else}}
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign up</a>
    {{/if}}
</header>

<h1>Feeds Reader</h1>
    {{#if session.currentUser}}
        {{> feeds this}}
    {{else}}
        Please <a href="/auth/login">Login</a> to see your feeds.
        Don't have an account, please <a href="/auth/signup">Sign up</a>.
    {{/if}}
