<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<a href="/auth/login">Login</a>
<a href="/auth/signup">Sign up</a>
<a href="/auth/logout">Logout</a>
<a href="/auth/user-profile">User Profile</a>

{{> feeds feedContent}}