<h1>Add Feed</h1>

<form method="POST" action="/feeds/create">
    <label>
        Title: 
        <input type="text" name="title">
    </label>
    <label>
        Url: 
        <input type="url" name="url">
    </label>
    <button type="submit"> Add </button>
</form>